/*
 * SPDX-FileCopyrightText: 2019 - 2020 Christian Authmann <https://gitlab.com/cauthmann>
 * SPDX-FileCopyrightText: 2020 - 2022 Vechro
 * SPDX-FileCopyrightText: 2020 Forest Anderson <forestkzanderson@gmail.com>
 * SPDX-FileCopyrightText: 2023 Javier Pérez
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'variables' as v;

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: v.$main_width;
  max-width: 100vw;
  margin: auto;

  @media (min-width: v.$main_width) {
    background: fixed url(bg_main.png) center bottom / cover no-repeat;
  }

  .header-video {
    margin: 0;
    width: 100%;
  }
}

main {
  // Viewport height - navbar height - footer height
  min-height: calc(100vh - #{v.$navbar-height} - #{v.$footer-height});
  width: 100%;
  padding: .5em .5em 1em .5em;
  
  color: v.$text-color;
  background-color: v.$main-background-color;

  @media (min-width: v.$main_width) {
    margin: 0;
    // increase padding on large screens
    padding: 0.5em 3em 1em 3em;
  }
}

td {
  padding: .25em .5em;
}

a {
  color: v.$link-color;
  text-decoration-thickness: 2px;

  &:hover {
    color: v.$main-background-color;
    background: v.$link-color;
    text-decoration: inherit;
  }

  &.donate:hover{
    background: 0;
  }
}

.mention {
  padding: 0 2px;
  
  font-weight: 500;
  
  color: #687dc6;
  background-color: rgba(114, 137, 218, .15);
  
  border-radius: 3px;
}

#donation-footer {
  img {
    width: 20em;
    max-width: 80vw;
  }
  
  &:hover {
    background: none;
  }
}

::selection {
  background: v.$selection-color;
}

*:focus {
  outline: red dashed 2px;
  outline-offset: 2px;
}

@media (max-width: v.$mobile-width) {
  body {
    width: 100%;
    margin: 0;
  }
}