{% import "macros/icon.html" as icon %}
{% import "macros/transform.html" as transform %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% elif config.title %}
      <title>{{ config.title }}</title>
    {% endif %}

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% elif config.description %}
      <meta name="description" content="{{ config.description }}">
    {% endif %}

    <meta charset="utf-8">


    {# Stylesheet #}
    <link href="{{ get_url(path='veloren.css') }}" rel="stylesheet" type="text/css">


    {# Favicons #}
    <link rel="icon" href="{{ get_url(path='icons/favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ get_url(path='icons/favicon/apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ get_url(path='icons/favicon/manifest.json') }}">
    

    {# Scripts #}
    <script defer src="{{ get_url(path='js/navbar.js') }}"></script>
    <script defer src="{{ get_url(path='js/motion-manager.js') }}"></script>


    {# Open Graph data #}
    {% if page.title %}
      <meta property="og:title" content="{{ page.title }}">
    {% elif config.title %}
      <meta property="og:title" content="{{ config.title }}">  
    {% endif %}
    
    {% block ogtype %}
      <meta property="og:type" content="website">
    {% endblock ogtype %}

    {% if page.extra.banner is defined %}
      {% set url = page.extra.banner %}
      {% if url is containing("media.discordapp.net") %}
        {% set url = transform::to_discord_cdn(url=url) %}
      {% endif %}
      <meta property="og:image" content="{{ url }}">
    {% else %}
      <meta property="og:image" content="{{ get_url(path='Logo_Square.png') }}">
    {% endif %}

    {% if page.permalink is defined %}
      <meta property="og:url" content="{{ page.permalink }}">
    {% else %}
      <meta property="og:url" content="{{ config.base_url }}">
    {% endif %}

    {% if page.description %}
      <meta property="og:description" content="{{ page.description }}">
    {% elif config.description %}
      <meta property="og:description" content="{{ config.description }}">
    {% endif %}


    {# SEO meta Tags #}
    <meta content="index, follow" name="robots">
    <meta content="#2cb3a8" name="theme-color">


    {# Enable responsiveness on mobile devices #}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    
    {# RSS #}
    {% if config.generate_feed %}
      <link rel="alternate" type="application/rss+xml" title="RSS feed" href="{{ config.base_url }}/rss.xml">
    {% endif %}

    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <nav>
      <div class="navbar-section navbar-logo">
        <a class="navbar-item" href="{{ get_url(path='/') }}">
          {% set logo = resize_image(path='../static/logo.png', width=142, height=40, op='fill') %}
          <img alt="Veloren" src="{{ logo.url }}" width="142" height="40"/> 
        </a>

      </div>
      <div class="navbar-section navbar-content" id="navbar-links">
        <a href="{{ get_url(path='@/download.md') }}">
          {{ icon::load(path='static/icons/download.svg') }}<span>Download</span>
        </a>
        <a href="{{ get_url(path='@/account/create-account.md') }}">
          {{ icon::load(path='static/icons/account.svg') }}<span>Account</span>
        </a>
        <a href="{{ get_url(path='@/joinus.md') }}">
          {{ icon::load(path='static/icons/join-us.svg') }}<span>Join us</span>
        </a>
        <a href="https://book.veloren.net/" target="_blank" rel="noopener noreferrer">
          {{ icon::load(path='static/icons/manual.svg') }}<span>Manual</span>
        </a>
        <a href="https://opencollective.com/veloren/donate?interval=month&amount=5" target="_blank" rel="noopener noreferrer">
          {{ icon::load(path='static/icons/donate.svg') }}<span>Donate</span>
        </a>
      </div>
      <div class="navbar-section navbar-hamburger" onclick="toggleMobileMenu()">
        {{ icon::load(path='static/icons/menu.svg') }}
      </div>
    </nav>
    {% block header %}{% endblock header %}
    <main>
      {% block content %}{% endblock content %}
    </main>
    {% include "footer.html" %}
  </body>
</html>
